body {
    background-color:#f97d25;    
}

h1,h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: black;
}

.title {
    text-align: center;
    background-color:rgb(238, 238, 207);
    padding: 25px 20px 10px 20px;
    margin: 10px 50px 20px 50px;
    border-radius: 25px;
}

.time {
    text-align: center;
    background-color: black;
    border-radius: 50px;
    color: beige;
    margin: 0px 200px 50px 200px ;
    padding: 5px;
    font-size: 28px;
}

.q {
    text-align: center;
    background-color: #3a4660;
    border-radius: 25px;
    color: beige;
    margin: -30px 50px 20px 50px ;
    padding: 10px;
}

.a {
    text-align: center;
    background-color: #3a4660;
    border-radius: 25px;
    color: beige;
    margin: 0px 50px 0px 50px ;
    padding: 20px 10px 200px 10px;
}

