body {
    background-color:#f97d25;    
}
h1,h2,.timer {
    text-align: center;
    font-family: 'Boogaloo', cursive;
    color:whitesmoke;
}
.title {
    margin-top: 80px;
}
.seventh-div {
    background-color: beige;
}
.eight-div {
    background-color:black;
}
.ninth-div {
    background-color:skyblue;
}
h2 {
    text-align: center;
}
.timer {
    text-align: center;
}